.contact {
    background: url(../../../src/images/irish-hands.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.contact-main{
        background: rgba(0, 0, 0, 0.767); 
}
.contact-grid ,.slider-content p{
    color:#fff !important;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 1px;
    padding-bottom: 10px;

}


.cpy-right-sec {
    background: #1c1d21;
}

.footer-text {
    color:#fff;
}